# Игнорировать файлы с расширением .log
*.log

# Игнорировать папку node_modules целиком
node_modules/

# Игнорировать временные файлы, созданные различными IDE
.vscode/
.idea/

# Игнорировать файлы конфигурации проекта
config.ini

# Игнорировать файлы с чувствительной информацией, такие как пароли и ключи
secrets.txt
credentials.json

# Игнорировать временные файлы
*.tmp

# Игнорировать файлы, сгенерированные компиляторами или сборщиками
*.exe
*.dll
*.class

# Игнорировать файлы, созданные системами контроля версий
.svn/
.git/
